* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
ul {
  list-style: none;
}
.hidden {
  display: none;
}
.app-box {
  width: 100%;
}
.categoryPicker {
  border-bottom: 1px solid #dddddd;
  padding: 0 10px;
  background-color: #ffffff;
  background-position: 97% center;
  width: 100%;
  box-sizing: border-box;
}
.categoryPicker .cityPickerDown {
  width: 0;
  height: 0;
  position: absolute;
  top: 16px;
  right: 20px;
  border: 10px solid transparent;
  border-top: 10px solid #ccc;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  transition-duration: 300ms;
}
.categoryPicker .cityPickerDown::before {
  content: '';
  position: absolute;
  top: -12px;
  right: -10px;
  border: inherit;
  border-top: inherit;
  border-top-color: #ffffff;
}
.categoryPicker .cityPickerDown.allCategorySelected {
  top: 6px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  border-top-color: red;
}
.categoryPicker .allTypesWrap {
  overflow: hidden;
  width: 90%;
  height: 40px;
  margin-bottom: -2px;
}
.categoryPicker .selectAllTypes {
  width: 2000px;
  white-space: nowrap;
}
.categoryPicker .selectAllTypes li {
  float: left;
  height: 39px;
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
  box-sizing: border-box;
}
.categoryPicker .selectAllTypes li.categorySelected {
  border-bottom: 1px solid red;
}
.categoryPicker .selectAllTypes::-webkit-scrollbar {
  width: 0;
}
.categoryPicker .dropdownCateList {
  width: 90%;
  min-height: 30px;
  padding-top: 10px;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  position: absolute;
  left: 5%;
  top: 41px;
  z-index: 2;
}
.categoryPicker .dropdownCateList li {
  width: 31%;
  float: left;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  margin-right: 2%;
  text-align: center;
  line-height: 30px;
  margin-bottom: 10px;
}
.categoryPicker .dropdownCateList li:nth-child(3n) {
  margin-right: 0;
}
.categoryPicker .dropdownCateList li.categorySelected {
  border: 1px solid #fc3939;
  color: #fc3939;
}
